@font-face{
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'roboto', 'Times New Roman', Times, serif;
    margin: 0px;
    display: grid;
    grid-template: 9fr 1fr / 1fr 9fr;
    height: 100%;
    
}

.sidebar{
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.library p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
}

.add-btn{
    display: grid;
    margin-bottom: 30px;
}

.add-btn button{
    font-size: 20px;
    border: 0px;
    padding: 0px;
    background-color: white;
    text-decoration: none;
}

.main-content{
    display: grid;
    grid-area: 1 / 2 / 1 / 2 ;
    background-color: lightgray;
}

.cards{
    display: grid;
    padding: 150px;
    gap: 10px;
    grid-template: repeat(auto-fill, minmax(250px, 1fr)) / repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
}

.card{
    width: 250px;
    height: 250px;
    display: grid;
    grid-template: 1fr 2fr 1fr 1fr / 1fr;
    background-color: whitesmoke;
    border-radius: 50px;
}

.card div{
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    grid-area: 2 / 1 / 2 / 3;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: lightgray;
    margin: 0;
    height: 100%;
    gap: 10px;
}

.github-logo{
    max-width: 28px;
    max-height: 28px;
    color: var(--black);
    transition: transform 0.3s ease-in-out;
    filter: invert(99%) sepia(26%) saturate(179%) hue-rotate(297deg) brightness(113%) contrast(100%);
}

img:hover{
    transform: rotate(360deg) scale(1.2);
}

